<h2>Welcome To Login Page</h2><br>
<h4>Note:Registered Users Can Able To Perform Login</h4><br>
<a href="\User\Register">Not Register? Click Here</a><br>
<form action="/User/Login" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required/>
    </div><br>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
